html{
    min-width: 1347px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border: 0.5px solid #cccccc;
}
textarea {
    resize: none;
}
.background{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f2f5ff;
}
.wrapper-fixed-width{
    width: 85%;
    box-shadow: 0 4px 16px #cccccc;
}
/* header */
/* блок з вулицьою і розкадом */
.street-schedule-div{
    border-bottom: 1px solid #ebebeb;
    background-color: #000c57;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.street-schedule-div div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
}
.street-schedule-div div p{
    color: #ffffff;
    font-family: 'Roboto Condensed';
}
.icon-gps{
    color: #00e5ff;
    margin-top: 1px;
    margin-right: 10px;
    font-size: 22px;  
}
.icon-schedule{
    color: #00e5ff;
    margin-top: 1px;
    margin-right: 10px;
    font-size: 22px;
}
.initial div{
    margin: 10px;
    background-color: #03f0fc;
    height: 31px;
    width: 33px;
    border-radius: 50%;
}
.initial p{
    color: #ffffff;
    font-family: 'Roboto Condensed';
}
.wrapper-header{
    border-bottom: 2px solid #ffffff;
    background-color: #293a54;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.initial{
    width: 370px;
    margin: 15px;
    display: flex;
    justify-content: center;
}
.naughty-width{
    width: 800px;
    display: flex;
}

/* блок з лого, менюхою, телефоном і кнопкою */
.wrapper-menu-logo{
    background-color: #000000;
    height: 136px;
    display: flex;
    justify-content: space-between;
}
.div-logo{
     align-self: center;
     align-items: center;
     width: 577px;
     display: flex;
     justify-content: center;
}
.div-logo h1{
     color: #ffffff;
     font-family: 'Roboto Condensed';
     font-size: 36px;
     margin-left: 10px;
     margin-right: 3px;
}
.div-logo span{
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 20px;
    margin-right: 15px;
}
.div-logo h2{
    color: #ffffff;
    font-family: 'Open Sans';
    margin-left: 10px;
}
.white-stick{
    height: 70px;
    width: 2px;
    background-color: rgb(250,198,149);
    background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%);
    background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 );
}
.div-menu{ 

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 547px;
}
.div-btn{
    height: 53px;
    width: 547px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.div-btn a{
    font-family: 'Roboto Condensed';
    width: 244px;
    height: 53px;
    background-color: rgb(250,198,149);
    background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%);
    background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 );
    color: #000000;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    line-height: 49px;
    border-radius: 2px;
}
.div-call{
    height: 53px;
    flex-direction: column;
    color: #ffffff;
}
.div-call h2{
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
}
.div-call span{
    font-family: 'Open Sans';
    font-size: 13px;
}
.horizontal-stick{
    width: 525px;
    background-color: rgb(250,198,149);
    background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%);
    background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 );
    height: 2.3px;
}
.nav-menu-div{
    width: 547px
}
.nav-menu-div ul{
    line-height: 49px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.nav-menu-div ul{
    list-style: none;
}
.nav-menu-div ul li a{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    text-decoration: none;
}
.table{
    position: absolute; 
    left: 300px;
    z-index: 9999;
}
.disp-none .table{
    display: none;
}
.disp-none:hover > .table{
    display: block;
}
.tourists{
    flex-direction: column;
    position: absolute;
}
.ds-none .tourists{
    display: none;

}
.tourists li{
    min-width: 200px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
}
.ds-none .tourists li a{
    margin-left: 10px;
    font-size: 16px;
    color: #000000;
    font-family: 'Roboto Condensed';
}
.ds-none:hover > .tourists{
    box-shadow: 0 4px 16px #949494;
    display: block;
}

/* turkey-background */
.turkey-background{
    width: 100%;
    height: 607px;
    background-image: url(./IMG/turkey-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* wrapper-card */
.wrapper-cards{
    box-shadow: inset 0 -7px 20px -10px rgba(0, 0, 0, .5);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 951px;
    background-image: url(./IMG/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fixed-width-cards{
    width: 1150px;
}
.div-h-cards{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.div-h-cards h2{
    color: #ffffff;    
    font-family: 'Roboto Condensed';
    font-size: 42px;
}
.div-cards{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper-small-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 560px;
}
.container-small-cards{
    display: flex;
    justify-content: space-between;
}
.big-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
    width: 540px;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(./IMG/beach-tourism.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}
.big-card:hover{
    transition: 0.3s;
    transform: scale(1.01);
}
.big-card span{
    margin-left: 15px;
    font-family: 'Open Sans';
    color: #ffffff;
    text-shadow: 0 4px 16px #000000;
}
.big-card h2{
    text-shadow: 0 2px 16px #000000;
    font-size: 28px;
    margin: 5px 0 15px 15px ;
    font-family: 'Roboto Condensed';
    color: #ffffff;
}
.triangle-bc{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #fcba03 transparent;
    margin-right: -1px;
}
.price-bc{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.part-of-price-bc{
    text-align: center;
    height: 50px;
    width: 130px;
    background-color: #fcba03;
}
.small-card1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
    width: 255px;
    height: 260px;
    background-image: url(./IMG/ski-resort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}
.small-card1:hover{
    transition: 0.3s;
    transform: scale(1.01);
}
.small-card1 h2{
    text-shadow: 0 2px 16px #000000;
    text-align: end;
    font-size: 20px;
    margin: 3px 5px 5px 15px ;
    font-family: 'Roboto Condensed';
    color: #ffffff;
}
.small-card1 span{
    text-shadow: 0 2px 16px #000000;
    text-align: end;
    margin: 7px 5px 0 15px ;
    font-family: 'Open Sans';
    color: #ffffff;
}
.price-sc1{
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}
.triangle-sc1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 35px;
    border-color: transparent transparent #fcba03 transparent;
    margin-right: -1.15px;
}
.part-of-price-sc1{
    text-align: center;
    height: 35px;
    background-color: #fcba03;
    width: 100px;
}
.small-card2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    cursor: pointer;
    width: 255px;
    height: 260px;
    background-image: url(./IMG/medicine-tour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}
.small-card2:hover{
    transition: 0.3s;
    transform: scale(1.01);
}
.small-card2 h2{
    text-shadow: 0 2px 16px #000000;
    font-size: 20px;
    margin: 3px 0 10px 15px ;
    font-family: 'Roboto Condensed';
    color: #ffffff;
}
.small-card2 span{
    text-shadow: 0 2px 16px #000000;
    margin-left: 15px;
    font-family: 'Open Sans';
    color: #ffffff;
}
.price-sc2{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.triangle-sc2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 35px;
    border-color: transparent transparent #fcba03 transparent;
    margin-right: -1.15px;
}
.part-of-price-sc2{
    text-align: center;
    height: 35px;
    background-color: #fcba03;
    width: 100px;
}
.midle-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    cursor: pointer;
    width: 560px;
    height: 255px;
    background-image: url(./IMG/excursions-tour.jpg);
    background-size: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}
.midle-card:hover{
    transition: 0.3s;
    transform: scale(1.01);
}
.midle-card h2{
    text-shadow: 0 2px 16px #000000;
    font-size: 28px;
    margin: 5px 0 15px 15px ;
    font-family: 'Roboto Condensed';
    color: #ffffff;
}
.midle-card span{
    text-shadow: 0 2px 16px #000000;
    margin-left: 15px;
    font-family: 'Open Sans';
    color: #ffffff;
}
.price-mc{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.triangle-mc{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 45px;
    border-color: transparent transparent #fcba03 transparent;
    margin-right: -1.15px;
}
.scaner{
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(125,185,232,0.01) 1%, rgba(0,98,197,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(125,185,232,0.01) 1%,rgba(0,98,197,1) 100%);
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(125,185,232,0.01) 1%,rgba(0,98,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0062c5',GradientType=0 );    
    display: flex;
    justify-content: center;
}
.part-of-price-mc{
    text-align: center;
    height: 45px;
    background-color: #fcba03;
    width: 100px;
}
.color-text-in p{
    margin: 0;
    padding: 0;
    line-height: 48px;
    font-family: 'Roboto Condensed';
    color: #ffffff;
    font-size: 16px;
}
.div-list-of-resorts{
    border-radius: 2px;
    margin-top: 70px;
    background-color: #ffffff;
    align-content: center;
    display: flex;
    justify-content: space-around;
    height: 130px;
}
.div-list-of-resorts a{
    text-decoration: none;
    outline: none;
    color: #000000;
    font-family: 'Roboto Condensed';
}
.div-list-of-resorts a div{
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 88px;
}
.div-list-of-resorts a div:hover .circle-block{
    background-color: #00dede;
}
.div-list-of-resorts a:hover{
    color: #575757;
}
.circle-block{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b0d1d1;
    margin-right: 10px;
    align-items: center;
}
.circle-block i{
    font-size: 28px;
    color: #ffffff;
}

/* text-containers */
.div-h1{
    width: 100%;
    height: 100px;
    font-family: 'Roboto Condensed';
    text-align: center;
    background-color: #ffffff;
    line-height: 106px;
}
.div-h1 h1{
    margin: 0;
}
.more-text{
    padding-bottom: 40px;
    background-color: #ffffff;
    width: 100%;
    font-family: 'Open Sans';
}
.more-text p{
    margin: 0 100px 0 100px;
}
.more-text p:nth-child(2){
    margin-top: 20px;
}
.more-text p:nth-child(3){
    margin-top: 20px;
}

/* wrapper-seasons */
.background-white-seasons{
    background-color: #ffffff;
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-seasons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 318px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
}
.title-of-seasons h2{
    font-family: 'Roboto Condensed';
}
.title-of-seasons{
    margin-top: 30px;
}
.div-seasons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.div-seasons a{
    text-decoration: none;
}
.type-of-season{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 150px;
}
.type-of-season:hover{
    transition: 0.3s;
    transform: scale(1.01)
}
.type-of-season div a{
    margin-right: 11px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans';
    text-decoration: underline;
}
.type-of-season div{
    display: flex;
    justify-content: space-around;
}
.type-of-season h3{
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    text-decoration: none;
}
.winter{
    margin-left: 15px;
    background-image: url(./IMG/seasons/winter.jpg);
}
.summer{
    margin-left: 15px;
    background-image: url(./IMG/seasons/summer.jpg);
}
.spring{
    margin-left: 15px;
    background-image: url(./IMG/seasons/spring.jpg);
}
.autumn{
    margin-left: 15px;
    background-image: url(./IMG/seasons/autumn.jpg);
}

/* wrapper-news */
.wrapper-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 384px;
    background-color: #fafafa;
    border-top: 1px solid #f0f0f0;
    padding-bottom: 20px;
}
.wrapper-news h2{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed';
}
.divs-news{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.divs-news div{
    width: 367px;
    height: 195px;
}
.divs-news div h3{
    font-size: 24px;
    font-family: 'Roboto Condensed';
    color: #34c6eb;
}
.divs-news div p{
    font-family: 'Open Sans';
}
.all-news{
    display: flex;
    justify-content: flex-end;
}
.all-news a{
    margin-top: 70px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Roboto Condensed';
    color: #34c6eb;
}

/* about */
.about{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 936px;
    background-image: url(./IMG/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper-about{
    height: 215px;
    display: flex;
    justify-content: space-around;
}
.div-reason{
    width: 360px;
    height: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div-reason h3{
    font-family: 'Roboto Condensed';
    color: #ffffff;
    font-size: 35px;
}
.div-reason p{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 19px;
}
.circle-block1{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #ffffff;
}
.circle-block1 i{
    margin-top: 24px;
    font-size: 32px;
    color: #03f0fc;
}
.center{
    display: flex;
    justify-content: center;
}
.title-about{
    height: 70px;
    text-align: center;
}
.title-about h2{
    color: #ffffff;
    font-family: 'Roboto Condensed';
}
.form-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form{
    background-color: #ffffff;
    margin: 0 auto;
    width: 1040px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 4px 16px #ccc;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-size: 16px;
}
.form-group{
    position: relative;
    margin-bottom: 32px;
}
.form-label{
    position: absolute;
    top: 0;
    left: 1px;
    color: #9e9e9e;
    transition: 0.3s;
}
.form-input{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    transition: 0.3s;
    outline: none;
}
.form-input:focus{
    border-bottom: 1px solid #1a73a8;
}
.form-button{
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.form-button:focus,
.form-button:hover{
    background-color: rgba(0, 113, 248, 0.7);
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label{
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}
.title-form{
    text-align: center;
}
.title-form h2,
.title-form h3{
    color: #000000;
    font-family: 'Roboto Condensed';
    margin: 0;
    letter-spacing: initial;
}
.title-form h3{
    padding-bottom: 40px;
}

/* footer */
.footer{
    border-top: 1px solid #ffffff;
    background-color: #232e43;
    height: 270px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}
.privacy-polity{
    margin-top: 20px;
    width: 260px;
    font-family: 'Open Sans';
    color: #ffffff;
}
.tourist-footer{
    width: 230px;
    font-family: 'Open Sans';
}
.tourist-footer li a,
.tours-footer li a{
    color: #ffffff;
}
.tours-footer{
    width: 241px;
    font-family: 'Open Sans';
    text-transform: none;
}
.fhones-footer{
    width: 290px;
    font-family: 'Open Sans';
    color: #ffffff;
}
.social{
    color: #ffffff;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding-top: 15px;
    padding-right: 50px;
    cursor: pointer;
}
.social a{
    text-decoration: none;
}
.social-items{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
}
.viber:hover{
    border-color: #735ff2;
    box-shadow: 0 0 15px #735ff2;
    transition: 0.2s;
    color: #735ff2;
}
.instagram:hover{
    border-color: #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: 0.2s;
    color: #bc2a8d;
}
.facebook:hover{
    border-color: #4263ca;
    box-shadow: 0 0 15px #4263ca;
    transition: 0.2s;
    color: #4263ca;
}
.wrapper-flex{
    display: flex;
    width: 100%;
}



/* wrapper-seasons1 */
.background-white-seasons1{
    background-color: #ffffff;
    width: 326px;
    height: 865px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-seasons1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 798px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
}
.title-of-seasons1 h2{
    font-size: 20px;
    font-family: 'Roboto Condensed';
}
.title-of-seasons1{
    text-align: center;
    margin-top: 30px;
}
.div-seasons1{
    height: 661px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.div-seasons1 a{
    text-decoration: none;
}
.type-of-season1{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    width: 240px;
    height: 150px;
}
.type-of-season1:hover{
    transition: 0.3s;
    transform: scale(1.01)
}
.type-of-season1 div a{
    margin-right: 11px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans';
    text-decoration: underline;
}
.type-of-season1 div{
    display: flex;
    justify-content: space-around;
}
.type-of-season1 h3{
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    text-decoration: none;
}
.winter1{
    background-image: url(./IMG/seasons/winter.jpg);
}
.summer1{
    background-image: url(./IMG/seasons/summer.jpg);
}
.spring1{
    background-image: url(./IMG/seasons/spring.jpg);
}
.autumn1{
    background-image: url(./IMG/seasons/autumn.jpg);
}
.wrapper-form-in-coutries{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 34px 0 34px 0;
}
.form-in-coutries{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 860px;
    background-color: #a0dcff;
    border: 1px solid #a1a1a1;
    border-radius: 2px;
}
.info-input-block{
    display: flex;
    justify-content: space-between;
    height: 33%;
    width: 90%;
    margin: 0 auto;
}
.inputs-block{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.inputs-block h3{
    font-family: 'Roboto Condensed';
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 21px;
}
.input-in-form{
    border: 1px solid #868686;
    background-color: #ffffff; 
    height: 25px;
    outline: none;
    border-radius: 1px;
    font-family: 'Open Sans';
    padding-left: 5px;
}
.input-in-form::-webkit-input-placeholder {
    color: rgb(156, 156, 156);
    font-family: 'Open Sans';
} 
.input-in-form::-moz-placeholder {
    color: rgb(156, 156, 156);
    font-family: 'Open Sans';
}
.additional-information-block{
    display: flex;
    flex-direction: column;
    height: 126px;
    margin: 0 auto;
    width: 90%;
}
.additional-information-block h3{
    font-family: 'Roboto Condensed';
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 21px;
}
.additional-information-block textarea{
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid #868686;
    background-color: #ffffff;
    border-radius: 1px;
    font-family: 'Open Sans';
    padding-left: 5px; 
}
.additional-information-block textarea::-webkit-input-placeholder {
    color: rgb(156, 156, 156);
    font-family: 'Open Sans';
    font-size: 14px;
} 
.additional-information-block textarea::-moz-placeholder {
    color: rgb(156, 156, 156);
    font-family: 'Open Sans';
    font-size: 14px;
}
.form-button-block{
    display: flex;
    justify-content: flex-end;
}
.form-button-block button{
    background-color: #666666;
    width: 200px;
    height: 40px;
    border: 1px solid #8a8a8a;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    border-radius: 2px;
}
.wrapper-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: #ffffff;
}
.block-text-country{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.block-text-country h2{
    text-align: center;
    font-family: 'Roboto Condensed';
    font-size: 32px;
    margin: 0 0 10px 0;
}
.block-text-country p{
    text-align: start;
    font-family: 'Open Sans';
    font-size: 14px;
    width: 848px;
}
.img-countries-block{
    margin-top: 20px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    width: 848px;
    height: 206px;
    display: flex;
    justify-content: center;
}
.img-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-block img{
    width: 259px;
    height: 164px;
}
.form-wrapper1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
.form1{
    background-color: #ffffff;
    margin: 0 auto;
    width: 90%;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 0 4px 16px #ccc;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-size: 16px;
}
.form-group1{
    position: relative;
    margin-bottom: 32px;
}
.form-label1{
    position: absolute;
    top: 0;
    left: 1px;
    color: #9e9e9e;
    transition: 0.3s;
}
.form-input1{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    transition: 0.3s;
    outline: none;
}
.form-input1:focus{
    border-bottom: 1px solid #1a73a8;
}
.form-button1{
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
.form-button1:focus,
.form-button1:hover{
    background-color: rgba(0, 113, 248, 0.7);
}
.form-input1:focus ~ .form-label1,
.form-input1:not(:placeholder-shown) ~ .form-label1{
    top: -18px;
    font-size: 12px;
    color: #e0e0e0;
}
.title-form1{
    text-align: center;
}
.title-form1 h2,
.title-form1 h3{
    color: #000000;
    font-family: 'Roboto Condensed';
    margin: 0;
    letter-spacing: initial;
}
.title-form1 h3{
    padding-bottom: 40px;
}
.column-advertisements-block{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.popular-destination{
    width: 85%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-of-destination{
    text-align: center;
    width: 100%;
}
.title-of-destination h3{
    font-family: 'Roboto Condensed';
    font-size: 21px;
}
.popular-countries{
    display: flex;
    flex-direction: column;
    width: 80%;
    outline: none;
}
.popular-countries a{
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans';
    font-size: 16px;
}
.popular-countries a p img{
    margin-bottom: -5px;
    margin-right: 5px;
}
.background-white-destination{
    background-color: #ffffff;
    width: 326px;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-destination{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    height: 1142px;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
}
